@font-face {font-family: 'Campton-BoldDEMO';src: url('fonts/campton/39B4E9_0_0.eot');src: url('fonts/campton/39B4E9_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/campton/39B4E9_0_0.woff2') format('woff2'),url('fonts/campton/39B4E9_0_0.woff') format('woff'),url('fonts/campton/39B4E9_0_0.ttf') format('truetype');}
@font-face {font-family: 'Campton-LightDEMO';src: url('fonts/campton/39B4E9_1_0.eot');src: url('fonts/campton/39B4E9_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/campton/39B4E9_1_0.woff2') format('woff2'),url('fonts/campton/39B4E9_1_0.woff') format('woff'),url('fonts/campton/39B4E9_1_0.ttf') format('truetype');}

body {
    margin: 0px;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a; 
    color: #ffffff;
}

h1, p {
    text-transform: uppercase;
    margin: 0px; 
}

h1 {
    font-family: 'Campton-BoldDEMO', 'Helvetica';
    font-size: 1.5em;
}


p {
    font-family: 'Campton-LightDEMO', 'Helvetica';
    font-size: 0.8em; 
}