// colors
$broken-white: #F3FDFF;
$broken-black: #002226; 
$primary-light-2: #CBF1F7; 
$primary-light-1: #9DD2E0; 
$primary: #8AB7C7; 
$primary-dark-1: #678991; 
$primary-dark-2: #43595E; 

// typography 
$font-family-text: 'Inter'; 
$font-family-heading: 'Merriweather'; 
$font-family-marker: 'MarkerMark'; 

