@import "normalize.css";
@import "variables"; 
@import "typography";

// global resets
ul {
    padding: 0; 
    list-style: none;
}

//shared styles
html, body {
    background-color: $primary-dark-2; 
}

button {
    transition: all .5s;
    background: $primary-dark-1;
    color: $broken-white; 
    padding: 16px;
    border: none;
    border-radius: 100%;
    box-shadow: 0px 1px 12px $broken-black; //TODO: right shadow!!

    &:hover {
        cursor: pointer; 
        box-shadow: 0px 8px 12px $broken-black; //TODO: right shadow!!
    }
}