@import "normalize.css";
@import "variables"; 
@import "typography";

// global resets
ul {
    padding: 0; 
}

//shared styles
html, body {
    background-color: $primary-dark-2; 
    color: $broken-white; 
}